html {
  color: #fff;
  font-family: Georgia, serif;
}

section {
  background-color: #495562;
}

.btn {
  border-color: #97a49b;
  color: #fff;
}

.btn:hover {
  color: #495562;
  border-color: #efefef;
  background-color: #efefef;
}

img {
  max-height: 500px;
}

@media only screen and (min-width: 60em) {

  section {
    position: relative;
    top: 16em;
    background-color: transparent;
    background-image: linear-gradient(to top, rgba(73, 85, 98, .9), transparent);
  }

  img {
    position: absolute;
  }

  .btn {
    border-color: #fff;
    color: #fff;
  }

}
